.parent-1{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 3px;
    height: 97vh;
}
.child{
    background-color: yellow;
    text-align: center;
}
.child-1{
    grid-column: 1/13;
}
.child-2{
    grid-column: 1/7;
}
.child-3{
    grid-column: 7/13;
}
.child-4{
    grid-column: 1/5;
}
.child-5{
    grid-column: 5/9;
}
.child-6{
    grid-column: 9/13;
}
.child-7{
    grid-column: 1/4;
}
.child-8{
    grid-column: 4/7;
}
.child-9{
    grid-column: 7/10;
}
.child-10{
    grid-column: 10/13;
}
.child-11{
    grid-column: 1/3;
}
.child-12{
    grid-column: 3/5;
}
.child-13{
    grid-column: 5/7;
}
.child-14{
    grid-column: 7/9;
}
.child-15{
    grid-column: 9/11;
}
.child-16{
    grid-column: 11/13;
}
.child-17{
    grid-column: 1/2;
}
.child-18{
    grid-column: 2/3;
}
.child-19{
    grid-column: 3/4;
}
.child-20{
    grid-column: 4/5;
}
.child-21{
    grid-column: 5/6;
}
.child-22{
    grid-column: 6/7;
}
.child-23{
    grid-column: 7/8;
}
.child-24{
    grid-column: 8/9;
}
.child-25{
    grid-column: 9/10;
}
.child-26{
    grid-column: 10/11;
}
.child-27{
    grid-column: 11/12;
}
.child-28{
    grid-column: 12/13;
}

.parent-2{
    display: grid;
    grid-template-row: repeat(12,1fr);
    gap: 3px;
    height: 97vh;
}
.item{
    background-color:green;
    text-align: center;
}
.item-1{
    grid-row: 1/13;
}
.item-2{
    grid-row: 1/7;
}
.item-3{
    grid-row: 7/13;
}
.item-4{
    grid-row: 1/5;
}
.item-5{
    grid-row: 5/9;
}
.item-6{
    grid-row: 9/13;
}
.item-7{
    grid-row: 1/4;
}
.item-8{
    grid-row: 4/7;
}
.item-9{
    grid-row: 7/10;
}
.item-10{
    grid-row: 10/13;
}
.item-11{
    grid-row: 1/3;
}
.item-12{
    grid-row: 3/5;
}
.item-13{
    grid-row: 5/7;
}
.item-14{
    grid-row: 7/9;
}
.item-15{
    grid-row: 9/11;
}
.item-16{
    grid-row: 11/13;
}
.item-17{
    grid-row: 1/2;
}
.item-18{
    grid-row: 2/3;
}
.item-19{
    grid-row: 3/4;
}
.item-20{
    grid-row: 4/5;
}
.item-21{
    grid-row: 5/6;
}
.item-22{
    grid-row: 6/7;
}
.item-23{
    grid-row: 7/8;
}
.item-24{
    grid-row: 8/9;
}
.item-25{
    grid-row: 9/10;
}
.item-26{
    grid-row: 10/11;
}
.item-27{
    grid-row: 11/12;
}
.item-28{
    grid-row: 12/13;
}
